PORT=3333
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development

# JWT 
JWT_SECRET=1234abcd5678efgh9012ijkl3456mnop.abc123xyz789.jwt0

# Credenciais do admin
ADMIN_USER=admin
ADMIN_PASS=admin

# Postgres 
# DATABASE_URL=postgresql://user:pass@localhost:5432/items
